doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='./favicon.ico')
    title=title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic')
    link(rel='stylesheet', href='/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/cans.css')
  body
    block content

    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js')
      // Bootstrap core JavaScript
      script(src='/js/plugins/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      script(src='/js/plugins/jquery.zoom.min.js')
      script(src='/js/plugins/jquery-dateFormat.min.js')
      script(src='/js/plugins/luxon.min.js')
      script(src='/js/plugins/lodash.min.js')
      script(src='/js/common.js')