doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='favicon.ico')
    title=title
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // add ons
    link(href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarTop', aria-controls='navbarTop', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#')
        img(src='images/logo-red.svg', alt='SmartRack.io')
      #navbarTop.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link.active(href='#')
              | Stores 
              span.sr-only (current)
    .container
      .starter-template
        h1 Stores
        p.lead
          | All stores are listed below.
          a#info(href='#')
            i.fa.fa-question-circle(style='font-size:24px')
        span#details(style='display:none;')
          p For more information on a store, click the corresponding icon:
          a.btn.btn-outline-primary.btn-sm(href='#', role='button', aria-pressed='true')
            i.fa.fa-area-chart
          |  Shelves - Products and estimated inventory levels
          br
          a.btn.btn-outline-primary.btn-sm(href='#', role='button', aria-pressed='true')
            i.fa.fa-users
          |  Audience - Foot traffic by day, last 30 days
          br
        table#storesTable.table
          thead
            tr
              th VPN / Rack Num
              th Status
              th.sort(style='cursor:pointer;', data-sort='sort-location', data-key='location.address')
                | Address
              th.sort(style='cursor:pointer;', data-sort='sort-display', data-key='name') Name
              th Actions
          tbody
            tr.display.table-success
              td
                | 01JC
                br
                | 000001
              td Active
              td
                a(href='#')
                  | DG Prototype SmarTRack
                  br
                  | 850 Springfield Hwy, Goodlettsville, TN
                  br
                  |  USA
              td
                a(href='#') DG Prototype SmarTRack
              td(nowrap='')
                a.btn.btn-outline-primary.btn-sm(href='shelves/000001', role='button', aria-pressed='true')
                  i.fa.fa-area-chart
                a.btn.btn-outline-primary.btn-sm(href='#', role='button', aria-pressed='true')
                  i.fa.fa-users
            tr.display.table-success
              td
                | 02JV
                br
                | 000002
              td Active
              td
                a(href='#')
                  | ITCUS OFFICE RACK 
                  br
                  |  United States
              td
                a(href='#') Schaumburg
              td(nowrap='')
                a.btn.btn-outline-primary.btn-sm(href='shelves/000002', role='button', aria-pressed='true')
                  i.fa.fa-area-chart
                a.btn.btn-outline-primary.btn-sm(href='#', role='button', aria-pressed='true')
                  i.fa.fa-users
            tr.display.table-success
              td
                | 03JV
                br
                | 000003
              td Active
              td
                a(href='#')
                  | Overland Park 
                  br
                  | Blue Valley PKWY, KS
              td
                a(href='#') Overland Park 
              td(nowrap='')
                a.btn.btn-outline-primary.btn-sm(href='shelves/000003', role='button', aria-pressed='true')
                  i.fa.fa-area-chart
                a.btn.btn-outline-primary.btn-sm(href='traffic/000003', role='button', aria-pressed='true')
                  i.fa.fa-users
            tr.display.table-success
              td
                | 04JV
                br
                | 000004
              td Active
              td
                a(href='#')
                  | Olathe
                  br
                  |  W 119TH ST, KS
              td
                a(href='#') Olathe
              td(nowrap='')
                a.btn.btn-outline-primary.btn-sm(href='shelves/000004', role='button', aria-pressed='true')
                  i.fa.fa-area-chart
                a.btn.btn-outline-primary.btn-sm(href='traffic/000004', role='button', aria-pressed='true')
                  i.fa.fa-users
    script(type='text/javascript').
      $(document).ready(function() {
        $("#info").click(function() { $("#details").toggle(100); });
      });
