extends layout.pug

block content
    include nav.pug
    .container
        if success
            .row
                .col-md-12
                    h1
                        | Timelapse For #{rackname}
                        span#store_address #{' ('+address}) 
                    h3
                        | To start your virtual visit select a date range below. 
                        a#info
                            i.fa.fa-info-circle
                    #details
                        p
                        | Cameras on of each shelf of the Smart Rack take photos several times a day and then analyzed by an algorithm to count the number of triangles visible. These counts are expressed as a % full in the chart for each shelf.
                        p
                        | Videos of shelves in intervals from the time period selected are displayed below each shelf.
                    h3
                        | *All times are in 
                        span.text-danger CST 
                        |  timezone.
            #rack_types.row
                .col-lg-12.col-lg-offset-0.col-md-12
                    div
                        form.form-inline
                            input#rackNum(type='hidden', value=racknum)
                            span#from_date.text-danger From 
                            input#startDate.big(type='date')
                            span#to_date.text-danger To 
                            input#endDate.big(type='date')
                            a#date_range_button.btn.btn-primary(role='button') View 
                            .fa.fa-gear.fa-2x.fa-spin
            #videos
            
            .shelf_stock_row.row
                .col-md-12
                    .shelves_chart_nodata
                        h1.text-center.text-muted No Videos Found To Display
        else 
            h1="We are sorry, "+msg
block append scripts
    script(src='/js/timelapse_page.js')
