doctype html
html
  head
    meta(charset='utf-8')
    title Shelf Email Template
    style.
      .shelf-container {
      width: 100%;
      }
      .shelf-title {
      background-color: #e2434b;
      color: #fff1c1;
      padding: 10px;
      }
      .store-title2 {
      background-color: #fff7c2;
      color: #e2434b;
      padding: 10px;
      }
      .store-name {
      background-color: #f0f3f3;
      color: #404b69;
      padding: 10px;
      }
      table.shelf {
      border: dashed #bbbbbb 1.0pt;
      }
      table.shelf tr td {
      border: dashed #bbbbbb 1.0pt;
      }
      table.shelf tr.shelf-row td{
      background-color: #f6f6f6;
      color: #2d4059;
      font-weight: 600;
      padding: 10px;
      }
      table.shelf tr.shelf-row td img{
      width: 100%;
      height: 100%;
      }
      table.shelf tr.shelf-row td div.img-container {
      width: 332px;
      max-height: 160px;
      max-width: 350px;
      height: 154px;
      }
      h3,h4 {
      margin: 0;
      }
  body
    .shelf-container
      table.shelf
        tbody
          tr
            td(colspan='3')
              h3.shelf-title Target Smart Shelf - Out of Stock Alerts from Kellogs
          tr
            td(colspan='3')
              h4.store-title2 Store: T11756 (119th St, Olathe, KS) | As of: June 14, 2018 1Pm CST
          
          tr
            td(colspan='3')
              h4.store-name Shelf 1
          tr.shelf-row
            td Store: #{name}
            td
              ul
                li 50% Shelf Empty
                li Shelf Inventory Very Low
                li Restock Pringles
            td.img-row
              .img-container
                img(src='https://my-rack.s3.amazonaws.com/000004/2018/06/17/0-0830.jpg', alt='Image')
